.ce-block__content{
  max-width: 900px;
}

.navBar{
  overflow: auto;
  white-space: nowrap;
  background-color: rgba(230,230,230);
 scroll-behavior: smooth; 
}

.title{
  display: inline-block;
  padding: 12px;
  margin-left: 30px;
  font-size: 22px;
  height: 26px;
  text-decoration: none;
  color: #666;
}

.current{
  color: black;
  text-decoration: underline;
}

.search-input{
  position: absolute;
  top: 7px;
  right: 280px;
  border: none;
  border-bottom: 1px solid #343434;
}
