.navBar{
  overflow: auto;
  white-space: nowrap;
}

.title{
  display:inline-block;
  padding: 14px;
  margin-left: 30px;
  font-size:25px;
  height:35px;
}

.top-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 13.5%);
}